<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.marclandolt.spa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/spa"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.marclandolt.spa.ui.activities.MainActivity"
            android:label="@string/spa"
            android:launchMode="singleTask"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="ch.marclandolt.spa.backend.XmppService"
            android:enabled="true" >
        </service>
    </application>

</manifest>